:root {
    --Accent: 25, 25, 112;
    --Accent-rgb: rgb(25, 25, 112);
}


body {
    /*SIZE AND BEHAVIOR*/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    gap: 10px;
    justify-content: center;


    /*BACKGROUND*/
    background: url(../images/background.jpg) no-repeat fixed center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    /*TEXT*/
    font-family: "Cascadia Mono", serif;
    color: var(--Accent-rgb);
    text-align: left;
    font-style: normal;
    line-height: normal;

}

h1 {
    color: white;
}

.form-wrap, .block-wrap {
    /*SIZE AND BEHAVIOR*/
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    border-radius: 50px;
    /*BACKGROUND*/
    background: #FFFFFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(10.649999618530273px);
    transition: 10s visibility;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: fit-content;
}

button {
    background-color: var(--Accent-rgb);
    border-radius: 2vw;
    color: white;
    width: max-content;
    padding: max(3%, 5px) max(7%, 7px);
}

input {
    color: var(--Accent-rgb);
    line-height: 1.5;
    border-bottom: midnightblue 2px solid;
}

::placeholder {
    color: rgba(var(--Accent), 0.6);

}

.account-header {
    width: 90vw;
    display: flex;
    flex-direction: row;
    padding: 15px 4% 4%;
    align-content: center;
    justify-content: space-between;
}

table {
    width: min(70%, 1000px);
    margin-bottom: 20px;
    color: midnightblue;
    border-collapse: collapse;
}
table tr{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: #FFFFFF 2px solid;
}

table th {
    font-weight: bold;
    padding: 5px;
    background: white;
    text-align: center;
}

.table tbody tr:nth-child(even) {
    background: #F8F8F8;
}

table td {
    padding: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    justify-content: center;
}

table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}

table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
table tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;}

table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}

table tr:last-child{
    border-bottom: none;
}