.all_center {
    text-align: center;
}

form {
    background-color: lightslategray;
    width: 30%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    margin-top: 20px;
}
input[type=submit]{
    background-color: whitesmoke;
    border: none;
    width: fit-content;
    align-self: center;
    border-radius: 2%;
    padding: 10px;
}